.navbar {
  border-radius: 0 !important;
}

.text-field-quick-search input {
  color: #9d9d9d !important;
  font-size: 14px !important;
  padding-bottom: 2px!important;
}
.text-field-quick-search div {
  color: #616161 !important;
  font-size: 14px !important;
  bottom: 7px !important;
}

#movie-component-paper-row {
  margin-top: -28px !important;
  margin-bottom: 15px !important;
}